body {
	margin: 0 auto;
	max-width: 100%;
	width: 1280px;
}

canvas {
	width: 100%;
}

footer {
	display: flex;
	font: .75rem sans-serif;
	justify-content: space-between;
	margin-top: 1rem;
	text-align: center;
}